# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcuserdatad

# SwiftPM
.build/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# macOS-системные файлы
.DS_Store

